**/.DS_Store
**.log
.vscode
.idea
vendor
node_modules

# https://theapache64.github.io/git-do-not-ignore/
!app/
app/*
!app/wp-content/
app/wp-content/*
!app/wp-content/plugins/
app/wp-content/plugins/*
!app/wp-content/plugins/WPClothes2Order

